# Created by https://www.gitignore.io/api/vue,vuejs,composer
# Edit at https://www.gitignore.io/?templates=vue,vuejs,composer

### Composer ###
build/tools/composer.phar
/vendor/

# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

### Vue ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_componets

*.sublime*

psd
thumb
sketch

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log

# End of https://www.gitignore.io/api/vue,vuejs,composer

build/
